@using Diva2Web.Models.Users
@model UserModelLogin
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}



@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div style="max-width: 700px; min-width: 350px">
        <ul class="nav justify-content-center">
            <li class="nav-item"><a href="/Account/Login" class="nav-link active">Přihlášení</a></li>
            <li class="nav-item"><a href="/Account/Register" class="nav-link ">Registrace</a></li>
            <li class="nav-item"><a href="/Home/Help" class="nav-link active">Nápověda</a></li>
        </ul>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Přihlášení</h5>

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Nick" class="control-label"></label>
                            <input asp-for="Nick" class="form-control" />
                            <span asp-validation-for="Nick" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label asp-for="Heslo" class="control-label"></label>
                            <input asp-for="Heslo" class="form-control" />
                            <span asp-validation-for="Heslo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        @if (Model.Messages.Count > 0)
                        {
                            @Html.Raw(Model.MsgToString());
                        }

                    </div>
                    <div class="form-group">
                        <div class="row">

                            <div class="col-6">
                                <a href="/Home/Index" class="btn btn-outline-secondary">Zpět</a>
                            </div>
                            <div class="col-6" style="text-align: right; padding-right: 10px">
                                <input type="submit" value="Přihlásit" class="btn btn-primary" />
                            </div>

                        </div>

                    </div>


                    <div class="form-row align-items-center" id="jsSendEmail" style="display: none">

                        <div class="col-auto" style="margin: 20px 0; width: 65%">
                            <label class="sr-only" for="inlineFormInputGroup">Zagejte email</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@@</div>
                                </div>
                                <input type="text" class="form-control" id="forgotEmail" placeholder="email">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="btn btn-success btn" id="jsSendEmailBtn" style=" margin-top: -7px;">Odeslat</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div id="messages">
                                @if (Model.Messages.Count > 0)
                                {
                                    Model.MsgToString();
                                }
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px ;">
                        <div class="btn btn-outline-success mb-2" onclick="showEmail()">Odeslat nové heslo</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>

        function showEmail() {

            $('#jsSendEmail').toggle('slow');

        }

        $(document).ready(function () {

            $(document).on('click', '#jsSendEmailBtn', function (event) {

                var email = $("#forgotEmail").val();

                console.log(email);

                $.ajax({
                    method: "GET",
                    url: "/Account/SendForgotEmail/" + email,
                }).done(function (data) {
                    $('#messages').html(writeMesssages(data.messages));
                });
            });




        });




    </script>
}

