<form method="post">
    <input name="username" placeholder="Login" />
    <input name="password" type="password" placeholder="Heslo" />
    <button type="submit">Přihlásit</button>
</form>

<div>@ViewBag.Error</div>