@using Diva2Web.Models.Users
@model UserResetPasswordModel

@{ ViewData["Title"] = "Změna hesla";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml"; }




@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
@Html.AntiForgeryToken()


                <div class="card" style="max-width: 700px; min-width: 500px">
                    <div class="card-body">
                        <h5 class="card-title">Obnova hesla</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Obnova zapomenutého hesla</h6>
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <input type="hidden" name="Token" id="Token" value="@Model.Token" />
                            <input type="hidden" name="Email" id="Email" value="@Model.Email" />
                            <div class="form-group">
                                <label asp-for="NewPass" class="control-label"></label>
                                <input asp-for="NewPass" class="form-control" />
                                <span asp-validation-for="NewPass" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="NewPass2" class="control-label"></label>
                                <input asp-for="NewPass2" class="form-control" />
                                <span asp-validation-for="NewPass2" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Ulož nové heslo" class="btn btn-outline-primary" />
                                </div>
                            </div>

                        </div>

                        <div id="messages">

                        </div>

                    </div>
                </div>
                }
