
@{ ViewData["Title"] = "Změna hesla";

Layout = "~/Views/Shared/_LayoutAccount.cshtml"; }

<div class="card" style="max-width: 600px; min-width: 400px">
    <div class="card-body">
        <h5 class="card-title">Obnovení hesla</h5>

        <div class="alert alert-success" role="alert">
            Obnovení hesla proběhlo úspěšně
        </div>

        <a href="/Home/Index" class="btn btn-success">Zpět na úvod</a>

    </div>
</div>


