@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potvrdit email";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Děkujeme za potvrzení emailu.
    </p>
</div>
