@{
    ViewData["Title"] = "Účet zablokován";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Váš účet byl zablokován, zkuste to později.</p>
</header>
