@{
    ViewData["Title"] = "Potvrzení změny hesla";
     Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaše heslo bylo zmněněno. Prosím <a asp-action="/Login">přihlašte se</a>.
</p>
