@using Diva2Web.Models.Admin
@model AdminPageModel
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home" class="motiv-hlavni">Home</a></li>
        <li class="breadcrumb-item motiv-kontra" aria-current="page">@Model.Title</li>
    </ol>
</nav>