@using Diva2Web.Models.Admin
@using Diva2.Core.Main.Lessons
@model AdminPageModel

@section leftMenu{
    <partial name="MenuLeftPublic" model="Model" />
}


<div class="alert alert-info" role="alert">
    Platba se neuskutečnila...
</div>