@using Diva2Web.Models.Admin
@using Diva2.Core.Main.Lessons
@model AdminPageModel


@section leftMenu{
    <partial name="MenuLeftPublic" model="Model" />
}


<div class="alert alert-success" role="alert">
    Děkujume Vám za online platbu. Částka se připsala a vaše kredity také :)
</div>